*{
    margin: 0;
    padding: 0%;
}

header{
    background-color: #000000;
    color: white;
    display: flex;  
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 159px;
}

.subtitulo{
    display: inline-block;
    margin: 0% 16px;
}
.guitarra-promoção{
    width: 450px;
    padding: 30px;  
}

.promoção{
background-image: linear-gradient(#FF0000,#000000);
color: white;
display: flex;
justify-content: center;
align-items: center;
padding: 0 24px;

}
.texto{
    width: 35%;
}

.promoção-da-guitarra{
    padding: 0 26;
}